<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовая симуляция</title>
    <link rel="stylesheet" type="text/css" href="/public/css/tables.css">
</head>
<body>

<div id="form">
    <form th:method="POST" th:action="@{/simulation/start}" th:object="${simulationDTO}" @submit.prevent="submitForm">
        <div id="simulationDTOJson" th:data-simulation-dto="${simulationDTOJson}"></div>
        <label for="nameSimulation">Введите название симуляции</label>
        <input type="text" th:field="*{nameSimulation}" id="nameSimulation">
        <div style="color:red" th:if="${#fields.hasErrors('nameSimulation')}" th:errors="*{nameSimulation}">Name
            simulation Errors
        </div>

        <table id="hostTable" v-show="showTableHost">
            <thead>
            <tr>
                <th>Host Number</th>
                <th>Host Count</th>
                <th>Host Pes</th>
                <th>Host Mips</th>
                <th>Host Ram</th>
                <th>Host Bandwidth</th>
                <th>Host Storage</th>
                <th>Virtual Machines</th> <!-- Новый столбец для виртуальных машин -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="(host, index) in simulationDTO.hostDTOS">
                <td>{{ index + 1 }}</td>
                <td><input type="text" v-model="host.hostCount" /></td>
                <td><input type="text" v-model="host.hostPes"/></td>
                <td><input type="text" v-model="host.hostMips"/></td>
                <td><input type="text" v-model="host.hostRam"/></td>
                <td><input type="text" v-model="host.hostBw"/></td>
                <td><input type="text" v-model="host.hostStorage"/></td>
                <!-- Теперь добавляем столбец для виртуальных машин -->
                <td>
                    <!-- Создаем вложенную таблицу для виртуальных машин -->
                    <table id="vmTable" v-show="showTableVm">
                        <thead>
                        <tr>
                            <th>VM Number</th>
                            <th>Vm Count</th>
                            <th>VM Pes</th>
                            <th>VM Ram</th>
                            <th>VM Bandwidth</th>
                            <th>VM Storage</th>
                            <th></th> <!-- Добавим столбец для кнопки удаления VM -->
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Теперь перебираем виртуальные машины этого хоста -->
                        <tr v-for="(vm, vmIndex) in host.vmDTOS">
                            <td>{{ vmIndex + 1 }}</td>
                            <td><input type="text" v-model="vm.vmCount" /></td>
                            <td><input type="text" v-model="vm.vmPes"/></td>
                            <td><input type="text" v-model="vm.vmRam"/></td>
                            <td><input type="text" v-model="vm.vmBw"/></td>
                            <td><input type="text" v-model="vm.vmStorage"/></td>
                            <!-- Кнопка удаления VM -->
                            <td>
                                <button type="button" @click="removeVm(index, vmIndex)">Удалить VM</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Кнопка для добавления новой VM -->
                    <button type="button" @click="addVm(index)">Добавить VM</button>
                </td>
                <!-- Кнопка удаления хоста -->
                <td>
                    <button type="button" @click="removeHost(index)">Удалить хост</button>
                </td>
            </tr>
            </tbody>
        </table>


        <button type="button" @click="addHost">Добавить хост</button>

        <table id="cloudletTable" v-show="showTableCloudlet">
            <thead>
            <tr>
                <th>Cloudlet Number</th>
                <th>Cloudlet Count</th>
                <th>Cloudlet Pes</th>
                <th>Cloudlet Length</th>
                <th>Cloudlet Size</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(cloudlet, index) in simulationDTO.cloudletDTOS">
                <td>{{ index + 1 }}</td>
                <td><input type="text" v-model="cloudlet.cloudletCount" /></td>
                <td><input type="text" v-model="cloudlet.cloudletPes"/></td>
                <td><input type="text" v-model="cloudlet.cloudletLength"/></td>
                <td><input type="text" v-model="cloudlet.cloudletSize"/></td>
                <td>
                    <button type="button" @click="removeCloudlet(index)">Удалить</button>
                </td> <!-- Delete button -->
            </tr>
            </tbody>
        </table>
        <button type="button" @click="addCloudlet">Добавить задачу</button>

        <input type="submit" value="Старт"/>

        <table v-if="simulationDTO.simulationResultDTOS.length > 0">
            <thead>
            <tr>
                <th>Cloudlet ID</th>
                <th>Status</th>
                <th>DC ID</th>
                <th>Host ID</th>
                <th>Host PEs</th>
                <th>VM ID</th>
                <th>VM PEs</th>
                <th>Cloudlet Length (MI)</th>
                <th>Finished Length (MI)</th>
                <th>Cloudlet PEs</th>
                <th>Start Time (Seconds)</th>
                <th>Finish Time (Seconds)</th>
                <th>Execution Time (Seconds)</th>
            </tr>
            </thead>
            <tbody>
            <!--//TODO исправить столбцы таблицы-->
            <tr v-for="(results, index) in simulationDTO.simulationResultDTOS">
                <td><label>{{ results.cloudletId }}</label></td>
                <td><label>{{ results.status }}</label></td>
                <!--//TODO что-то с Id брокера не так-->
                <td><label>{{ results.datacenterBrokerId }}</label></td>
                <td><label>{{ results.hostId }}</label></td>
                <td><label>Host PEs</label></td>
                <td><label>{{ results.vmId }}</label></td>
                <td><label>VM PEs</label></td>
                <td><label>Cloudlet Length (MI)</label></td>
                <td><label>Finished Length (MI)</label></td>
                <td><label>Cloudlet PEs</label></td>
                <td><label>{{ results.startTime }}</label></td>
                <td><label>{{ results.finishTime }}</label></td>
                <td><label>{{ results.executionTime }}</label></td>
            </tr>
            </tbody>
        </table>


        <div th:if="${param.error}" style="color:red">
            Неправильные имя и пароль
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>
