<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
</head>
<body>
<div id="form">
    <form id="simulationForm" th:method="POST" th:action="@{/simulation/lifetime}" th:object="${simulationDTO}" @submit.prevent="submitForm">
        <div id="simulationDTOJson" th:data-simulation-dto="${simulationDTOJson}"></div>

        <button type="submit" th:text="#{start}"></button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>