<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/public/css/simulation/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
</head>
<body>
<div>
    <div>
        <a th:href="@{/account}">Личный кабинет</a>
    </div>
    <div class="logout-button-container">
        <form th:method="POST" th:action="@{/logout}">
            <input class="logout-button" type="submit" value="Выйти"/>
        </form>
    </div>
</div>



<a class="card-link" th:href="@{/simulation/basic}" th:text="#{basicSimulation}"></a>
<a class="card-link" th:href="@{/simulation/lifetime}" th:text="#{lifeTimeSimulation}"></a>

</body>
</html>