<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/public/css/simulation/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
</head>
<body>
<div th:include="header"></div>
<div class="cards">
    <a class="card-link" th:href="@{/simulation/basic}" th:text="#{basicSimulation}"></a>
    <a class="card-link" th:href="@{/simulation/lifetime}" th:text="#{lifeTimeSimulation}"></a>
    <a class="card-link" th:href="@{/simulation/cancel}" th:text="#{cancelSimulation}" th:if="${authenticated}"></a>
    <a class="card-link" th:href="@{/simulation/hostFault}" th:text="#{hostFaultSimulation}" th:if="${authenticated}"></a>
    <a class="card-link" th:href="@{/simulation/bootAndOverhead}" th:text="#{bootAndOverheadSimulation}" th:if="${authenticated}"></a>
</div>
<div th:include="footer"></div>
</body>
</html>