<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/public/css/simulation/lifeTime.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
</head>
<body>
<div id="form">
    <div id="simulationDTOJson" th:data-simulation-dto="${simulationDTOJson}"></div>
    <h1>Список Simulation DTOs</h1>
    <table class="table-container">
        <thead>
        <tr>
            <th th:text="#{simulationNumber}"></th>
            <th th:text="#{simulationName}"></th>
            <th th:text="#{dateOfCreation}"></th>
            <th th:text="#{simulationType}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="(simulation, index) in simulationDTO">
            <td>{{ index + 1 }}</td>
            <td>{{ (simulation.nameSimulation == null || simulation.nameSimulation == '') ? 'Без названия' : simulation.nameSimulation }}</td>
            <td>{{ simulation.dateOfCreation }}</td>
            <td>{{ simulation.simulationType }}</td>
            <td>

                <form @submit.prevent="repeatSimulation(simulation)">
                    <button type="submit">Повторить симуляцию</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>