<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/public/css/account.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
</head>
<body>

<div th:include="header"></div>

<div id="form">
    <div id="simulationDTOJson" th:data-simulation-dto="${simulationDTOJson}"></div>
    <div id="totalPages" th:total-pages="${totalPages}"></div>
    <div id="currentPage" th:current-page="${page}"></div>
    <h1>Список Simulation DTOs</h1>


    <label th:text="#{filter}" style="font-weight: bold"></label>
    <div class="filter-container">

        <label th:text="#{simulationName}" for="filterNameSimulation"></label>
        <input type="text" id="filterNameSimulation" v-model="filterNameSimulation">

        <label th:text="#{dateOfCreation}" for="filterDateOfCreation"></label>
        <input type="date" id="filterDateOfCreation" v-model="filterDateOfCreation">

        <label th:text="#{simulationType}" for="filterSimulationType"></label>
        <select id="filterSimulationType" v-model="filterSimulationType">
            <option value="">Выберите тип симуляции</option>
            <option v-for="(value, key) in simulationTypes" :key="key" :value="value">{{ key }}</option>
        </select>

       <!-- <div class="checkbox-container">
            <label th:text="#{showRemovedSimulation}" for="showRemovedSimulation"></label>
            <input id="showRemovedSimulation" type="checkbox" v-model="showRemovedSimulation">
        </div>-->

        <button class="custom-button" @click="loadPage(currentPage)">Применить фильтр</button>
    </div>


    <table class="table-container">
        <thead>
        <tr>
            <th th:text="#{simulationNumber}"></th>
            <th th:text="#{simulationName}"></th>
            <th th:text="#{dateOfCreation}"></th>
            <th th:text="#{simulationType}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="(simulation, index) in simulationDTO">
            <td>{{ globalCounter + index + 1 }}</td>
            <td>{{ (simulation.nameSimulation == null || simulation.nameSimulation == '') ? 'Без названия' : simulation.nameSimulation }}</td>
            <td>{{ simulation.dateOfCreation }}</td>
            <td>{{ simulation.localizationTypeName }}</td>
            <td>

                <form @submit.prevent="repeatSimulation(simulation)">
                    <button class="custom-button" type="submit">Повторить симуляцию</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Кнопки для переключения страниц -->
    <div>
        <button class="custom-button" @click="loadPage(currentPage - 1)">Предыдущая страница</button>
        <span>{{currentPage + 1}} / {{totalPages}}</span>
        <button class="custom-button" @click="loadPage(currentPage + 1)">Следующая страница</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>