<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
</head>
<body>

<header class="header">
    <a class="header-logo" th:href="@{/simulation}">CloudSim Web Application</a>
    <nav class="header-links">
        <a th:href="@{/account}">Личный кабинет</a>
    </nav>
    <div class="logout-button-container">
        <form th:method="POST" th:action="@{/logout}">
            <input class="logout-button" type="submit" value="Выйти"/>
        </form>
    </div>
</header>
</body>
</html>