html{
    height: 100%;
}
body {
    font-family: 'Nunito', sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.cards {
    text-align: center;
}

.card-link {
    font-size: 25px;
    display: inline-block;
    padding: 5vw; /* Паддинг относительно ширины экрана */
    margin: 2.5vw; /* Отступ относительно ширины экрана */
    border: 1px solid #ccc;
    border-radius: 2.5vw; /* Радиус границы относительно ширины экрана */
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.card-link:hover {
    background-color: #f0f0f0;
}